.employer-jobs-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employer-jobs-page h1 {
  text-align: center;
  margin-bottom: 40px;
}

.error-message {
  color: red;
  text-align: center;
}

.employer-jobs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.employer-job-card {
  background-color: #ffc39d;
  padding: 15px;
  border-radius: 8px;
  max-width: 350px;
  border: solid 5px #635050;
}

.employer-job-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
  transition: transform 0.2s;
}

.employer-job-card h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #0716bd;
}

.employer-job-card h2:hover {
  color: #2463ab;
}

.employer-job-card p {
  margin: 8px 0;
  font-size: 0.95rem;
  color: #555;
}

.employer-job-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.employer-job-card button {
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: fit-content;
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.employer-job-card button:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.employer-job-card button svg {
  height: 12px;
  margin-right: 5px;
}

.employer-job-card .edit-button {
  background-color: #14356e;
}

.employer-job-card .delete-button {
  background-color: #df1e10;
}

/* Medium Screens: 2 Columns */
@media (max-width: 1150px) {
  .employer-jobs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Small Screens: 1 Column */
@media (max-width: 800px) {
  .employer-jobs-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
